{% extends 'home.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">ОПС</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% form_theme addAlarmSystemForm 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(addAlarmSystemForm) }}
            {{ form_errors(addAlarmSystemForm) }}

            {{ form_end(addAlarmSystemForm) }}
        </div>
    </div>
    {%  set providersCount=[] %}
    {% for providerName in securityProvidersList %}
        {% set providersCount = providersCount|merge({ (providerName):0 }) %}
    {% endfor %}
    {% set withoutProvider = 0 %}

    {% for alarmSystem in alarmSystemsList %}
        {% if alarmSystem.securityProvider is defined and alarmSystem.securityProvider is not empty %}
            {% set providersCount = providersCount|merge({ (alarmSystem.securityProvider): (providersCount[ (alarmSystem.securityProvider) ])+1 }) %}
        {% else  %}
            {% set withoutProvider = withoutProvider+1 %}
        {% endif %}
    {% endfor %}


    <div class="row">
        <div class="col">

            {% for providerName in securityProvidersList %}
                <h4>{{ providerName~': '~ providersCount[providerName] }}</h4>
            {% endfor %}
            <h4>Подрядчик не указан: {{ withoutProvider }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Facility</th>
                    <th>Provider</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for alarmSystem in alarmSystemsList %}
                    <tr>
                        <td>#</td>
                        <td>{{ alarmSystem.facility.address }}</td>
                        <td>{{ alarmSystem.securityProvider ?? '' }}</td>
                        <td>
                            <a href="/alarm/edit/{{ alarmSystem.id }}" class="btn btn-sm"><img
                                        alt="edit"
                                        width="20px"
                                        src="{{ asset('img/edit.png') }}">
                            </a>
                            <a href="#" data-href="/alarm/delete/{{ alarmSystem.id }}" data-toggle="modal"
                               data-target="#confirm-delete" class="btn btn-sm delete-type">
                                <img alt="delete" width="20px" src="{{ asset('img/cancel.png') }}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                {% include 'include/deleteConfirmationModal.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascriptsAfterBody %}
    {{ parent() }}

    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

    </script>

{% endblock %}