{% extends 'home.html.twig' %}


{% block main %}

    <div class="row">
        <div class="col text-center">
            <h2>Edit Facility </h2>
        </div>
    </div>
    <div class="row">
        <div class="col bg-light">
            {% form_theme editFacilityForm 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(editFacilityForm) }}
            {{ form_widget(editFacilityForm) }}
            <a href="{{ path('facilitylist') }}" class="btn btn-danger">Cancel</a>
            {{ form_end(editFacilityForm) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a id="refreshCoordinatesButton" href=""
               class="btn btn-success">Refresh Coordinates</a>
        </div>
    </div>
{% endblock %}


{% block javascriptsAfterBody %}
    {{ parent() }}

    <script>

        $("#refreshCoordinatesButton").click(function (e) {
            e.preventDefault();
            $('#edit_facility_form_Lat').val('....');
            $('#edit_facility_form_Lon').val('....');
            url = 'https://nominatim.openstreetmap.org/search?city={{ facility.city }}&street={{ facility.street }}&housenumber{{ facility.house }}&format=json&limit=1';
            $.ajax({
                url: url,
                success: function (data) {
                    if (data.length !== 0) {
                        console.log(data);
                        $lat = data[0]['lat'];
                        $lon = data[0]['lon'];
                    } else {
                        $lat = 'invalid address';
                        $lon = 'invalid address';
                    }
                    console.log($lat, $lon);
                    setCoordinates($lat, $lon);
                    console.log('ready to show');
                }
            });

        });


        function setCoordinates(lat, lon) {

            var path = '{{path('setCoordinates')}}';
            var url = path+'/{{ facility.id }}/' + lat + '/' + lon;
            console.log(url);

            $.ajax({
                method: "GET",
                url: url

            }).done(function (data) {
            });

            $('#edit_facility_form_Lat').val(lat);
            $('#edit_facility_form_Lon').val(lon);
        }
    </script>
{% endblock %}