{% extends 'home.html.twig' %}

{% block javascriptsBeforeBody %}
    {{ parent() }}

    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AtrbFcv5kIq0_lr7oP2X9gCjolUGnrCC7zmicDR8cDymFpqV5Pm0JvGU0joAa3I3'
            async defer></script>

{% endblock %}
{% block main %}
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <div id='myMap' style='width: 100%; height: 600px;'></div>
        </div>
    </div>
    {% if is_granted('ROLE_NVR_ADD') %}
        <div class="row bg-light p-2">
            <div class="col">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.Name) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.PostCode) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.lmcode) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.facilityType) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.Country) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.Region) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.City) }}
                    </div>
                    <div class="col"></div>

                </div>
                <div class="row">

                    <div class="col">
                        {{ form_row(form.StreetType) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.Street) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.House) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.BuildingType) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.Building) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.Room) }}
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.Submit, { 'label': 'Add new' }) }}
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">

            <table class="table table-striped table-bordered mt-4">
                <thead>
                <tr class="">
                    <th class="tr_fixed">
                        #
                    </th>
                    <th class="tr_fixed">
                        Name
                    </th>
                    <th class="tr_fixed">
                        Address
                    </th>
                    <th class="tr_fixed">
                        Actions
                    </th>
                    <th class="tr_fixed">
                        GPS
                    </th>
                </tr>
                </thead>
                <tbody class="pt-5">
                {% for facility in facilities %}
                    <tr>
                        <td>
                            <a href="{{ path('facilityPassport', {id: facility.id}) }}">
                                {{ loop.index }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('facilityPassport', {id: facility.id}) }}">
                                {{ facility.name }}
                            </a>
                        </td>
                        <td>{{ facility.address }}</td>
                        <td>
                            <a href="/facility/edit/{{ facility.id }}" class="btn btn-sm"><img
                                        alt="edit"
                                        width="20px"
                                        src="{{ asset('img/edit.png') }}">
                            </a>

                            {% if nvrCount[facility.id]==0 %}
                                <a href="#" data-href="/facility/delete/{{ facility.id }}" data-toggle="modal"
                                   data-target="#confirm-delete" class="btn btn-sm delete-type">
                                    <img alt="delete" width="20px" src="{{ asset('img/cancel.png') }}">
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if facility.lat is not null and facility.lat != 'error' and facility.lat != 'invalid address' %}
                                <img alt="gps" width="20px" src="{{ asset('img/target_32.png') }}">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% include 'include/deleteConfirmationModal.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}


{% block javascriptsAfterBody %}
    {{ parent() }}

    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

        $('#add_facility_form_Region').prop("readonly", true);

        $('#add_facility_form_Country').on('change', function (data) {
            var optionSelected = $(this).find("option:selected");
            var textSelected = optionSelected.text();

            var path = '{{ path('getCities') }}';
            path = path + '/' + textSelected;
            $.ajax({
                method: "POST",
                url: path,

            }).done(function (data) {
                $('#add_facility_form_City').empty();
                $.each(data, function (val, text) {
                    $('#add_facility_form_City').append(
                        $('<option></option>').val(text['city']).html(text['city'] + ' регион: ' + text['region'])
                    );
                });
            })
        });

        $('#add_facility_form_City').on('change', function (data) {
            var region = $(this).children("option:selected").val();
            region = $(this).children("option:selected").html();

            var regionStartPostition = region.indexOf('регион') + 8;
            var regionToOutput = region.slice(regionStartPostition);

            $("#add_facility_form_Region").val(regionToOutput);
        });


    </script>

    <script>
            var map, clusterLayer;
            function GetMap() {
                map = new Microsoft.Maps.Map('#myMap', {
                    zoom: 3,
                });

                //Create an infobox at the center of the map but don't show it.
                infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
                    visible: false
                });
                //Assign the infobox to a map instance.
                infobox.setMap(map);

                Microsoft.Maps.loadModule("Microsoft.Maps.Clustering", function () {
                    var pins = [];

                    {% for facility in facilities %}
                        {% if facility.lon != 'error' and facility.lon is not null %}
                            var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location({{ facility.lat }}, {{ facility.lon }}));

                            pin.metadata = {
                                description: '{{ facility.address }}',
                            };
                            Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
                            pins.push(pin);
                        {% endif %}
                    {% endfor %}

                    clusterLayer = new Microsoft.Maps.ClusterLayer(pins);
                    map.layers.insert(clusterLayer);
                });
            }


            function pushpinClicked(e) {
                //Make sure the infobox has metadata to display.
                if (e.target.metadata) {
                    //Set the infobox options with the metadata of the pushpin.
                    infobox.setOptions({
                        location: e.target.getLocation(),
                        title: e.target.metadata.title,
                        description: e.target.metadata.description,
                        visible: true
                    });
                }
            }

    </script>

{% endblock %}