{% extends 'home.html.twig' %}

{% block main %}
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Login
            </th>
            {% for key, nvr in nvrList %}
                {% if nvr.Id is defined %}
                    <th class="col text-nowrap tex-vertical">
                        <div><span>
                            {% if nvr.name is defined and nvr.name!="" %}
                                {{ nvr.name }}
                            {% else %}
                                {{ nvr.Ip }}
                            {% endif %}
                        </span></div>
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for userName, user in trassirUsers %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td class="col text-nowrap  border-right border-gray" title="
                {% for key, value in user.ip %} {{ loop.index}} {{ key }} {{ value }} {{ "\n " }}{% endfor %}
                TOTAL: {{ user.ip|length }}">
                    {{ userName }}
                </td>
                {% for key, nvr in nvrList %}

                    {% if nvr.ip in user.ip %}
                        <td class="text-center border-right border-gray" title="{{ nvr.ip }} {{ nvr.name }}">
                            +

                        </td>
                    {% else %}
                        <td class="border-right border-gray">

                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>



{% endblock %}