{% extends 'home.html.twig' %}

{% block main %}
    <h1 class="text-center">Trassir servers</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row bg-light p-2">
            <div class="col">
                {% form_theme addNvrForm 'bootstrap_4_horizontal_layout.html.twig' %}
                {{ form_start(addNvrForm) }}
                {{ form_widget(addNvrForm) }}
                <input type="submit" class="btn btn-success" value="Add new"/>
                {{ form_end(addNvrForm) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="tr_fixed">#</th>
                    <th class="tr_fixed">Адрес</th>
                    <th class="tr_fixed">IP</th>
                    <th class="tr_fixed">Имя</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="tr_fixed">Редактирование</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for server in servers %}

                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{ server.facility is not null? server.facility.address : '' }}
                        </td>
                        <td>
                            {{ server.ip }}
                        </td>
                        <td>
                            {{ server.name }}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="/trassirdatacollect/{{ server.id }}" class="btn btn-sm trassirDataRefresh"><img
                                            alt="edit"
                                            width="20px"
                                            id="refreshButton{{ server.id }}"
                                            class="refreshButtonImage"
                                            src="{{ asset('img/refresh.png') }}">
                                </a>

                                <a href="/trassirNvr/edit/{{ server.id }}" class="btn btn-sm"><img
                                            alt="edit"
                                            width="20px"
                                            src="{{ asset('img/edit.png') }}">
                                </a>

                                <a href="#" data-href="/trassirNvr/delete/{{ server.id }}" data-toggle="modal"
                                   data-target="#confirm-delete" class="btn btn-sm delete-type">
                                    <img alt="delete" width="20px" src="{{ asset('img/cancel.png') }}">
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}


                </tbody>
            </table>

        </div>
    </div>

    {% include 'include/deleteConfirmationModal.html.twig' %}


{% endblock %}

{% block javascriptsAfterBody %}
    {{ parent() }}

    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".trassirDataRefresh").click(function (event) {
                event.preventDefault();
                $(this).fadeTo("normal", .50);
                //  console.log('pressed');
                var $link = $(event.currentTarget);


                $.ajax({
                    method: "POST",
                    url: $link.attr('href'),
                }).done(function (data) {
                    //console.log ('got data ' +data);
                    $link.fadeTo("normal", 1);
                    if (data === 'true') {
                        // console.log ('success');

                        $link.children(".refreshButtonImage").attr('src', "{{ asset('img/done.png') }}");
                    } else {
                        // console.log ('ne success');
                        $link.children(".refreshButtonImage").attr('src', "{{ asset('img/error.png') }}");
                    }
                })
            });
        });

    </script>
{% endblock %}