{% extends 'home.html.twig' %}

{% set healthPoints={
    'disks':'Disks',
    'uptime':'Uptime',
    'network':'Network',
    'cpu_load':'CPU Load',
    'database':'Database',
    'automation':'Automation',
    'channels_total':'Channels Total',
    'channels_online':'Channels Online',
    'disks_stat_main_days':'Archive Main',
    'disks_stat_subs_days':'Archive Sub',
    'disks_stat_priv_days':'Archive Priv',
} %}
{% block main %}
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered mt-4">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Online
                    </th>
                    {% for point in healthPoints %}
                        <th>
                            {{ point }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for server in servers %}
                    {% if trassirHealth[server.id].health is defined
                        and (trassirHealth[server.id].health['network'] is defined
                        and trassirHealth[server.id].health['network']==1) %}
                        {% set online = true %}
                    {% else %}
                        {% set online = false %}
                    {% endif %}
                    <tr>
                        <td>{{ server.name ?  server.name : server.ip }}</td>
                        <td><img src="{{ online?asset('img/poweron32.png'):asset('img/poweroff32.png') }}"
                                 alt="Online status image" width="20px">
                        </td>
                        {% for pointKey, point in healthPoints %}
                            <td>
                                {% if trassirHealth[server.id].health[pointKey] is defined %}

                                    {% if pointKey == 'disks' or pointKey == 'database' or pointKey == 'automation' or pointKey == 'network' %}
                                        {% if  trassirHealth[server.id].health[pointKey]==1 %}
                                            <div class="text-success">OK</div>
                                        {% else %}
                                            <div class="text-danger">KO</div>
                                        {% endif %}
                                    {% endif %}

                                    {% if pointKey == 'cpu_load' %}
                                        {% if trassirHealth[server.id].health[pointKey]>=50 %}
                                            <div class="text-danger">{{ trassirHealth[server.id].health[pointKey]~'%' }}</div>
                                        {% elseif trassirHealth[server.id].health[pointKey]>30 and trassirHealth[server.id].health[pointKey]<50 %}
                                            <div class="text-warning">{{ trassirHealth[server.id].health[pointKey]~'%' }}</div>
                                        {% else %}
                                            <div class="text-success">{{ trassirHealth[server.id].health[pointKey]~'%' }}</div>
                                        {% endif %}
                                    {% endif %}

                                    {% if pointKey == 'uptime' %}
                                        {{ trassirHealth[server.id].health[pointKey] }}
                                    {% endif %}

                                    {% if pointKey == 'channels_total' %}
                                        {{ trassirHealth[server.id].health[pointKey] }}
                                    {% endif %}

                                    {% if pointKey == 'channels_online' %}
                                        {% if trassirHealth[server.id].health['channels_online']!=trassirHealth[server.id].health['channels_total'] %}
                                            <div class="text-danger">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% else %}
                                            <div class="text-success">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% endif %}
                                    {% endif %}

                                    {% if pointKey == 'disks_stat_main_days' %}
                                        {% if trassirHealth[server.id].health[pointKey] <= 14 %}
                                            <div class="text-danger">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% elseif trassirHealth[server.id].health[pointKey] > 14 and trassirHealth[server.id].health[pointKey] <=30 %}
                                            <div class="text-warning">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% else %}
                                            <div class="text-success">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% endif %}
                                    {% endif %}

                                    {% if pointKey == 'disks_stat_subs_days' %}
                                        {% if trassirHealth[server.id].health[pointKey] <= 14 %}
                                            <div class="text-danger">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% elseif trassirHealth[server.id].health[pointKey] > 14 and trassirHealth[server.id].health[pointKey] <=30 %}
                                            <div class="text-warning">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% else %}
                                            <div class="text-success">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% endif %}
                                    {% endif %}

                                    {% if pointKey == 'disks_stat_priv_days' %}
                                        {% if trassirHealth[server.id].health[pointKey] <= 14 %}
                                            <div class="text-danger">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% elseif trassirHealth[server.id].health[pointKey] > 14 and trassirHealth[server.id].health[pointKey] <=30 %}
                                            <div class="text-warning">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% else %}
                                            <div class="text-success">{{ trassirHealth[server.id].health[pointKey] }}</div>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}