{% extends 'home.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col">

            <table class="table table-striped table-bordered mt-4">
                <thead>
                <tr class="tr_fixed">
                    <th class="tr_fixed">
                        #
                    </th>
                    <th class="tr_fixed">
                        Name
                    </th>
                    <th class="tr_fixed">
                        Ip
                    </th>
                    <th class="tr_fixed">
                        Online
                    </th>
                    {% for point in constant('App\\Entity\\TrassirNvrData::HEALTH_POINTS') %}
                        <th class="tr_fixed">
                            {{ point }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="pt-5">
                {% for server in servers %}
                    <tr id="server_{{ server.id }}">
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            <a href ="{{ path('trassirHealthSingleNvr', {'id': server.id}) }}" >{{ server.name??server.ip }}</a>
                        </td>
                        <td>
                            {{ server.ip }}
                        </td>
                        <td class="serverOnline">

                        </td>
                        {% for key, point in constant('App\\Entity\\TrassirNvrData::HEALTH_POINTS') %}
                            <td class="{{ key }}">

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

{% block javascriptsAfterBody %}

    <script>
        $(document).ready(function () {
            let $servers = [];
            {% for server in servers %}
            $servers.push({{ server.id }});
            {% endfor %}

            for (let i = 0; i < $servers.length; i++) {
                let $link = "/trassirLastHealthSingleNvrJSON/"+$servers[i];
                $.ajax({
                    url: $link,
                }).done(function (data) {
                    if(data.status==="OK") {
                        console.log ('got data ');
                        console.dir(data);




                        $imgTag = '<img src="{{ asset('img/poweron32.png') }}" alt="Online status image" width="20px">';
                        $("#server_"+$servers[i]+" > td.serverOnline").html($imgTag);

                        let $disksField=$("#server_"+$servers[i]+" > td.disks");
                        if(data.disks==='1') {
                            $disksField.addClass("text-success");
                            $disksField.html('OK');
                        } else {
                            $disksField.addClass("text-danger");
                            $disksField.html('KO');
                        }

                        var sec = data.uptime;
                        var min = sec / 60;
                        var hour = min / 60;
                        var uptime =
                            Math.floor(hour / 24)+'d ' +
                            Math.floor(hour % 24) + 'h ' +
                            Math.floor(min % 60) + 'm';

                        let $uptimeField=$("#server_"+$servers[i]+" > td.uptime");
                        if(data.uptime>=720) {
                            $uptimeField.addClass("text-success");
                            $uptimeField.html(uptime);
                        } else {
                            $disksField.addClass("text-danger");
                            $disksField.html(uptime);
                        }

                        let $networkField=$("#server_"+$servers[i]+" > td.network");
                        if(data.network==="1") {
                            $networkField.addClass("text-success");
                            $networkField.html('OK');
                        } else {
                            $networkField.addClass("text-danger");
                            $networkField.html('KO');
                        }

                        let $cpuLoadField=$("#server_"+$servers[i]+" > td.cpu_load");
                        $cpuLoadField.html(data.cpu_load);
                        if(data.cpu_load<50) {
                            $cpuLoadField.addClass("text-success");
                        } else {
                            $cpuLoadField.addClass("text-danger");
                        }

                        let $databaseField=$("#server_"+$servers[i]+" > td.database");
                        if(data.database==="1") {
                            $databaseField.addClass("text-success");
                            $databaseField.html('OK');
                        } else {
                            $databaseField.addClass("text-danger");
                            $databaseField.html('KO');
                        }

                        let $automationField=$("#server_"+$servers[i]+" > td.automation");
                        if(data.automation==="1") {
                            $automationField.addClass("text-success");
                            $automationField.html('OK');
                        } else {
                            $automationField.addClass("text-danger");
                            $automationField.html('KO');
                        }

                        $("#server_"+$servers[i]+" > td.channels_total").html(data.channels_total);

                        let $channels_onlineField=$("#server_"+$servers[i]+" > td.channels_online");
                        $channels_onlineField.html(data.channels_online);
                        if(data.channels_online===data.channels_online) {
                            $channels_onlineField.addClass("text-success");
                        } else {
                            $channels_onlineField.addClass("text-danger");
                        }

                        let $disks_stat_main_daysField=$("#server_"+$servers[i]+" > td.disks_stat_main_days");
                        $disks_stat_main_daysField.html(data.disks_stat_main_days);
                        if(data.disks_stat_main_days > 45) {
                            $disks_stat_main_daysField.addClass("text-success");
                        } else {
                            $disks_stat_main_daysField.addClass("text-danger");
                        }

                        let $disks_stat_subs_daysField=$("#server_"+$servers[i]+" > td.disks_stat_subs_days");
                        $disks_stat_subs_daysField.html(data.disks_stat_subs_days);
                        if(data.disks_stat_subs_days > 45) {
                            $disks_stat_subs_daysField.addClass("text-success");
                        } else {
                            $disks_stat_subs_daysField.addClass("text-danger");
                        }

                    } else {
                        $imgTag = '<img src="{{ asset('img/poweroff32.png') }}" alt="Online status image" width="20px">';
                        $("#server_"+$servers[i]+" > td.serverOnline").html($imgTag);
                    }
                })
                ;
            }

        });



    </script>

{% endblock %}