{% extends 'home.html.twig' %}

{% block main %}
    <h1>Trassir servers</h1>
    <div class="row border-bottom">
        <div class="col ">
            #
        </div>
        <div class="col ">
            Ip
        </div>
        <div class="col ">
            Name
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col ">
                Refresh/Edit/Delete
            </div>
        {% endif %}
    </div>

    {% for server in servers %}

        <div class="row bg-light p-2 border-bottom">
            <div class="col">
                {{ loop.index }}
            </div>
            <div class="col">
                {{ server.ip }}
            </div>
            <div class="col">
                {{ server.name }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col">
                    <a href="/trassirdatacollect/{{ server.id }}" class="btn btn-sm trassirDataRefresh"><img
                                alt="edit"
                                width="20px"
                                id="refreshButton{{ server.id }}"
                                class="refreshButtonImage"
                                src="{{ asset('img/refresh.png') }}">
                    </a>

                    <a href="/trassirNvr/edit/{{ server.id }}" class="btn btn-sm"><img
                                alt="edit"
                                width="20px"
                                src="{{ asset('img/edit.png') }}">
                    </a>

                    <a href="#" data-href="/trassirNvr/delete/{{ server.id }}" data-toggle="modal"
                       data-target="#confirm-delete" class="btn btn-sm delete-type">
                        <img alt="delete" width="20px" src="{{ asset('img/cancel.png') }}">
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% include 'include/deleteConfirmationModal.html.twig' %}
    <hr>
    <div class="row bg-light p-2">
        <div class="col">
            {% form_theme addNvrForm 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(addNvrForm) }}
            {{ form_widget(addNvrForm) }}
            <input type="submit" class="btn btn-success" value="Add new"/>
            {{ form_end(addNvrForm) }}
        </div>
    </div>
{% endblock %}

{% block javascriptsAfterBody %}
    {{ parent() }}

    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            confirm - delete
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".trassirDataRefresh").click(function (event) {
                event.preventDefault();
                $(this).fadeTo("normal", .50);
                //  console.log('pressed');
                var $link = $(event.currentTarget);


                $.ajax({
                    method: "POST",
                    url: $link.attr('href'),
                }).done(function (data) {
                    //console.log ('got data ' +data);
                    $link.fadeTo("normal", 1);
                    if (data === 'true') {
                        // console.log ('success');

                        $link.children(".refreshButtonImage").attr('src', "{{ asset('img/done.png') }}");
                    } else {
                        // console.log ('ne success');
                        $link.children(".refreshButtonImage").attr('src', "{{ asset('img/error.png') }}");
                    }
                })
            });
        });

    </script>
{% endblock %}