{% extends 'home.html.twig' %}


{% block main %}

    <div class="row">
        <div class="col text-center">
            <h2>Редактирование пользователя</h2>
        </div>
    </div>
    <div class="row">
        <div class="col bg-light">
            {% form_theme editUserForm 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(editUserForm) }}
            {{ form_widget(editUserForm) }}
            <input type="submit" class="btn btn-success" value="Save"/>
            <a href="{{ path('userlist') }}" class="btn btn-danger">Cancel</a>
            {{ form_end(editUserForm) }}
        </div>
    </div>
    <div class="row">
        <div class="col bg-light">
            {% form_theme editUserPasswordForm 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(editUserPasswordForm) }}
            {{ form_widget(editUserPasswordForm) }}
            <input type="submit" class="btn btn-success" value="Change Password"/>
            {{ form_end(editUserPasswordForm) }}
        </div>
    </div>


{% endblock %}